<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389374277432-q22ispgum40cgbdeo8mr7hgo7ns9n879.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389374277432-q22ispgum40cgbdeo8mr7hgo7ns9n879</string>
	<key>API_KEY</key>
	<string>AIzaSyANhCPOYoNN-zujAoZKEiwfZw5R_4deqEE</string>
	<key>GCM_SENDER_ID</key>
	<string>389374277432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssj.ContactTracing</string>
	<key>PROJECT_ID</key>
	<string>contact-tracing-f9ca4</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-tracing-f9ca4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389374277432:ios:71e00b64a4d9946673f3cd</string>
	<key>DATABASE_URL</key>
	<string>https://contact-tracing-f9ca4.firebaseio.com</string>
</dict>
</plist>